<input type="hidden" value="<%= roulette.id %>" id="game_id">
<% if roulette.status == "pending" %>
  <div class="lobby-timer-container" id="timer-container">
    <div class="timer-label">
      TIME TO JOIN
    </div>
    <div>
      <div class="timer">
        <div>
          <span id="timer-minutes">00</span>
          <small>mm</small>
        </div>
        <span style="margin: 12px">:</span>
        <div>
          <span id="timer-seconds">00</span>
          <small>ss</small>
        </div>
        <div>
          <a href="#" id="button-up">▲</a>
          <a href="#" id="button-down">▼</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="roulette-button-option">
  <% case roulette.status  %>
  <% when "pending" %>
  <div>
    <%= form_with url: allow_player_to_join_admin_roulette_path(roulette), method: :post, local: true do |form| %>
      <%= form.hidden_field  :seconds, value: 60, id: "input-seconds" %>
      <%= form.submit "Let player join", class: "let-player-join-btn" %>
    <% end %>
  </div>
  <% when "ready" %>
  <span id="countdown-timer" data-remaining-seconds="<%= roulette.remaining_seconds %>"></span>
  <%= link_to 'Override timer', start_spin_admin_roulette_path(roulette), method: :post, local: false, id: "start-game-btn" %>
  <% when "in_progress" %>
  <span>Game is in progress..</span>
  <% when "done" %>
  <span>Game ended at <%= roulette.start_time&.strftime("%r") %>, <%= roulette.start_time&.strftime("%D") %></span>
<% end %>
</div>
<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Join time</th>
      <th>Status</th>
      <th>Win Status</th>
    </tr>
  </thead>
  <tbody id="participants-content">
    
    <% roulette.roulette_participants.each do |participant| %>
      <tr>
        <td><%= link_to participant.user.name, admin_user_path(participant.user) %></td>
        <td><%= format_time participant.created_at %></td>
        <td><%= participant.status %></td>
        <td><%= participant.win_status %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
